body{
    display: flex;
    height: 97vh;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
}
.principal{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.datos{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dato{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
}
.estiloBoton{
    background-color: #217023; 
    border: 1px solid;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    width: 120px;
}
.estiloBoton:hover {
    background-color:white; 
    color: #217023;
    border: 1px solid;
    border-color: #217023;
    border-radius: 5px;
}
.estiloBoton:active{
    background-color: #217023; 
    border: 1px solid;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}
.estiloBoton:disabled {
    background-color:gray; 
    color: #232623;
    border: 1px solid;
    border-color: #232623;
    border-radius: 5px;
}
input[type="text"]{
    border-radius: 4px;
    border-color: #217023;
    color:rgb(85, 83, 83);
}
tbody tr:nth-child(odd) {
    background-color: #a9e9a9;
  }
  
  tbody tr:nth-child(even) {
    background-color: #5bc45f;
  }
  
  table {
    background-color: #0b0c0c;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
  }
  td{
    text-align: center;
    padding: 7px;
  }
  th{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid black;
  }
  .areaTabla{
    margin-top: 20px;
  }